/*  src/Header.css  */
.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 5%;
  /*margin-bottom: 2em;*/
  background-color: #fff;
  color: #000;
}
.PageNames {
  width: 100%;
  display: flex;
  flex: 2;
  justify-content: left;
  margin: auto;
  padding-left: 20%;
  padding-right: 5%;
  /*padding-bottom: 5%;*/
  /*background-color: orange;*/
  /*color: rgb(215, 215, 215);*/
}

.Logo {
    color: black;
    background-color: red;
}

.PageName {
    margin-left: 2em;
    margin-right: 2em;
    /*padding-top: 1em;*/
    color: rgb(215, 215, 215);
    font-size: 12px;
    /*background-color: yellow;*/
}

.Currency {
  width: 100%;
  display: flex;
  flex: 2;
  justify-content: center;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  /*padding-bottom: 1em;*/
  /*margin-left: 2em;*/
  /*margin-right: 2em;*/
  /*background-color: blue;*/
}
